/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap');

body {
	font-family: "lato", sans-serif;
	color: #204065;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
}

/* ------------------------------------------------------------------- */
[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;

}

.top-header {
	padding: 50px 0;
}

.top-header__inner {
	line-height: 50px;
	position: relative;
}

.top-header__social {
	display: inline-block;
	vertical-align: text-top;
}

.top-header__logo {
	display: inline-block;
}

.top-header__search {
	display: inline-block;
	vertical-align: text-top;
}

.social {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.social__item {
	display: inline-block;
	vertical-align: bottom;
	background-color: #f3f3f3;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	transition: all 0.5s;
}

.social__item:hover {
	background-color: #12b48b;
}

.social__item:nth-child(2) {
	margin: 0 10px;
}

.social__link {
	position: relative;
	height: 50px;
}

.social__link svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(50%, -50%);
}

.social__item:hover .social__link svg path {
	fill: #fff;
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.search {
	max-width: 300px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.search__input {
	height: 50px;
	background-color: #f3f3f3;
	padding: 10px 50px 10px 15px;
	border-radius: 10px;
	width: 100%;
}

.search__btn {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}


.menu-header {
	background-color: #f3f3f3;
	padding: 15px 0;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 5;
}

.menu-header__item {
	display: inline-block;
}

.menu-header__link-active {
	background-color: #12b48b;
	border-radius: 10px;
	color: #fff;
	transition: all 0.3s;
}

.menu-header__link {
	padding: 15px 24px;
	font-size: 18px;
	transition: color 0.3s;
	font-weight: 700;
}

.menu-header__link:hover {
	color: #12b48b;

}

.menu-header__link-active:hover {
	color: #204065;
}

.submenu__item:hover+*,
.dropdown__item:hover {
	visibility: visible;
}

.submenu {
	width: 170px;
	text-align: left;
	position: absolute;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}

.menu-header__link-active:hover+*,
.submenu:hover {
	opacity: 1;
	visibility: visible;
}

.submenu__item {
	position: relative;
}

.submenu__item:hover .submenu__link,
.dropdown {
	opacity: 1;
	visibility: visible;
}

.submenu__item:not(:last-child) {
	margin-bottom: 10px;
}

.submenu__link {
	transition: color 0.3s;
}

.submenu__link:hover {
	color: #12b48b;
}

.dropdown {
	position: absolute;
	left: 100%;
	top: -100%;
	padding: 15px;
	color: #fff;
	background-color: #12b48b;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	width: 150px;
}

.dropdown__item:not(:last-child) {
	margin-bottom: 10px;
	transition: color 0.3s;
}

.submenu__item:hover .dropdown {
	opacity: 1;
	visibility: visible;
}

.dropdown__item:hover {
	color: #204065;
}

/* face-block */
.face-block {
	font-family: "Playfair Display", sans-serif;
	padding: 46px 0 65px;
	text-align: center;
	font-weight: 400;
	line-height: 1.35;
}

.face-block__container {
	max-width: 1000px;
}

.face-block__title {
	font-size: 20px;
	color: #000;
	margin-bottom: 48px;
}

.face-block__items {
	margin: 0 -64px;
	font-size: 0;
	margin-bottom: 77px;
}

.face-block__item-block {
	padding: 0 64px;
	position: relative;
	color: #fff;
	font-size: 17px;
	display: inline-block;
	width: 33.333%;
}

.face-block__item-link {
	transition: box-shadow 0.3s;
}

.face-block__item-link::before {
	position: absolute;
	content: '';
	background-color: rgba(0, 0, 0, 0.20);
	top: 0;
	width: 250px;
	height: 100%;
	z-index: 2;
	transition: all 0.3s;
}


.face-block__item-title {
	font-size: 28px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	transition: color 0.3s;
}

.face-block__item-block:hover .face-block__item-title,
.face-block__item-block:hover .face-block__link {
	color: #000;
}

.face-block__item-link:hover.face-block__item-link::before {
	background-color: rgba(0, 0, 0, 0);
}

.face-block__item-link:hover {
	box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.4);
}

.face-block__link {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 12px;
	z-index: 3;
	transition: color 0.3s;
}

.face-block__btn {
	background-color: transparent;
	font-weight: 400;
	font-size: 14px;
	color: #000;
	border: 1px solid #000;
	padding: 9px 15px;
	min-width: 133px;
	min-height: 39px;
	margin-bottom: 66px;
	transition:
		translate 0.3s,
		background-color 0.3s;
}

.face-block__btn:hover {
	translate: 3px 5px;
	background-color: #fef6f6db;
	box-shadow: -2px -3px 10px;
}

.face-block__decor {
	border-bottom: 1px solid #837F7F;
}

.services {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.01em;
	padding-bottom: 100px;
}

.services__item {
	padding-left: 42px;
	position: relative;
	height: 32px;
	line-height: 2.3;
}

.services__item::before {
	content: '';
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('../img/icon_no-check.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.services__item:not(:last-child) {
	margin-bottom: 15px;
}

.services__item--active.services__item::before {
	background-image: url('../img/icon_check.svg');
}