/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair%20Display:wght@400&display=swap');

body {
	font-family: "lato", sans-serif;
	color: #204065;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
}

/* ------------------------------------------------------------------- */
[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;

}

.top-header {
	padding: 50px 0;
}

.top-header__inner {
	line-height: 50px;
	position: relative;
}

.top-header__social {
	display: inline-block;
	vertical-align: text-top;
}

.top-header__logo {
	display: inline-block;
}

.top-header__search {
	display: inline-block;
	vertical-align: text-top;
}

.social {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.social__item {
	display: inline-block;
	vertical-align: bottom;
	background-color: #f3f3f3;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	transition: all 0.5s;
}

.social__item:hover {
	background-color: #12b48b;
}

.social__item:nth-child(2) {
	margin: 0 10px;
}

.social__link {
	position: relative;
	height: 50px;
}

.social__link svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(50%, -50%);
}

.social__item:hover .social__link svg path {
	fill: #fff;
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.search {
	max-width: 300px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.search__input {
	height: 50px;
	background-color: #f3f3f3;
	padding: 10px 50px 10px 15px;
	border-radius: 10px;
	width: 100%;
}

.search__btn {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}


.menu-header {
	background-color: #f3f3f3;
	padding: 15px 0;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 5;
}

.menu-header__item {
	display: inline-block;
}

.menu-header__link--active {
	background-color: #12b48b;
	border-radius: 10px;
	color: #fff;
	transition: all 0.3s;
}

.menu-header__link {
	padding: 15px 24px;
	font-size: 18px;
	transition: color 0.3s;
	font-weight: 700;
}

.menu-header__link:hover {
	color: #12b48b;

}

.menu-header__link--active:hover {
	color: #204065;
}

.submenu__item:hover+*,
.dropdown__item:hover {
	visibility: visible;
}

.submenu {
	width: 170px;
	text-align: left;
	position: absolute;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}

.menu-header__link--active:hover+*,
.submenu:hover {
	opacity: 1;
	visibility: visible;
}

.submenu__item {
	position: relative;
}

.submenu__item:hover .submenu__link,
.dropdown {
	opacity: 1;
	visibility: visible;
}

.submenu__item:not(:last-child) {
	margin-bottom: 10px;
}

.submenu__link {
	transition: color 0.3s;
}

.submenu__link:hover {
	color: #12b48b;
}

.dropdown {
	position: absolute;
	left: 100%;
	top: -100%;
	padding: 15px;
	color: #fff;
	background-color: #12b48b;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	width: 150px;
}

.dropdown__item:not(:last-child) {
	margin-bottom: 10px;
	transition: color 0.3s;
}

.submenu__item:hover .dropdown {
	opacity: 1;
	visibility: visible;
}

.dropdown__item:hover {
	color: #204065;
}

/* product-category */
.product-category {
	padding: 50px 0;
	margin-bottom: 77px;
	font-family: "Playfair Display", serif;
	color: #000000;
	background-color: #ffffff;
}

.product-category__container {
	max-width: 1000px;
	padding-bottom: 66px;
	border-bottom: 1px solid #837F7F;
}

.product-category__title {
	margin-bottom: 48px;
	font-size: 27px;
	text-align: center;

}

.product-category__items {
	font-size: 0;
	margin: 0 -6.2%;
}

.product-category__items:not(:last-child) {
	margin-bottom: 77px;
}

.product-category__items>* {
	font-size: 16px;
}

.categories-cards__cards:not(:last-child) {
	margin-bottom: 77px;
}

.category-card {
	display: inline-block;
	width: 33.333%;
	padding: 0 5.53%;
	text-align: center;
	color: #ffffff;
}

.category-card__inner {
	position: relative;
	overflow: hidden;
}

.category-card__inner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.4);
	pointer-events: none;

	/* трішки анімації для hover ефекту */
	transition: background-color 0.3s;
}

.category-card__inner:hover::before {
	background-color: rgba(0, 0, 0, 0.6);
}

.category-card__img {
	position: relative;


	padding-bottom: 125.5%;

	width: 100%;
	height: 100%;
}

.category-card__img img {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	/* це ще не проходили але можете загуглити */
	object-fit: cover;
}

/* загальні стилі для елементів */
.category-card__title,
.category-card__text {
	position: absolute;
	left: 0;
	z-index: 3;

	width: 100%;
	padding: 0 14px;
}

.category-card__title {
	top: 42.3%;

	font-size: 28px;
}

.category-card__text {
	position: absolute;
	bottom: 12px;
	font-size: 17px;
}

.product-category__wrapper-button {
	text-align: center;
}

.product-category__btn {
	display: inline-block;
	min-width: 134px;
	border: 1px solid #000000;
	padding: 10px 20px;
	transition: all 0.3s ease;
}



.product-category__btn:hover {
	color: #ffffff;
	background-color: rgb(38, 36, 36);
}

.services {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.01em;
	padding-bottom: 100px;
}

.services__item {
	padding-left: 42px;
	position: relative;
	min-height: 32px;
	line-height: 1.7;
}

.services__item::before {
	content: '';
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('../img/icon_no-check.svg');
	background-repeat: no-repeat;
	background-size: contain;
	top: 10px;
}

.services__item:not(:last-child) {
	margin-bottom: 15px;
}

.services__item--active.services__item::before {
	background-image: url('../img/icon_check.svg');
}